<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>

    <profile>
      <id>central</id>
      <repositories>
        <repository>
          <id>org.maven.repo1</id>
          <name>Maven central</name>
	  <url>https://repo1.maven.org/maven2/</url>
        </repository>
      </repositories>
    </profile>

    <profile>
      <id>apache</id>
      <repositories>
        <repository>
          <id>org.apache.maven.repo</id>
          <name>Apache maven</name>
	  <url>https://repo.maven.apache.org/maven2/</url>
        </repository>
      </repositories>
    </profile>

    <profile>
      <id>eclipse</id>
      <repositories>
        <repository>
          <id>org.eclipse.maven</id>
          <name>Eclipse repository</name>
          <url>https://repo.eclipse.org/content/repositories/releases</url>
        </repository>
      </repositories>
    </profile>

    <profile>
      <id>mvnrepository</id>
      <repositories>
        <repository>
          <id>com.mvnrepository</id>
          <name>mvnrepository</name>
          <url>https://www.mvnrepository.com</url>
        </repository>
      </repositories>
    </profile>

  </profiles>

  <activeProfiles>
    <activeProfile>central</activeProfile>
    <activeProfile>apache</activeProfile>
    <activeProfile>eclipse</activeProfile>
  </activeProfiles>

</settings>
